<!DOCTYPE html>
<html lang="en">
<html>
    {{> partials/head-def}}
    <body>
        <div class="d-flex p-2 h-auto v-auto justify-content-center container-fluid">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="images/logo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Clone_Insta</h5>
                            <p class="card-text text-center">portfolio용 page 입니다..</p>
                            <div class="text-center w-100">
                                <a href="/main" class="btn btn-primary ">Enter</a>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col">
                </div>
            </div>
        </div>
       {{> partials/footer-none}}
    </body>
</html>