<!DOCTYPE html>
<html lang="en">
<html>
    {{> partials/head-def}}
    <body>
        <div class="vh-100 vw-100 p-3 container-fluid text-center justify-content-center">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="images/logo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Clone_Insta</h5>
                            <p class="card-text">portfolio용 page 입니다..</p>
                            <a href="/main" class="btn btn-primary">Enter</a>
                        </div>
                    </div>
                 </div>
                <div class="col">
                </div>
            </div>
        </div>
       {{> partials/footer-none}}
    </body>
</html>