<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head-def}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header}}
        <div id="content">
            <p>Hello, World!</p>
        </div>
        {{>partials/footer}}
    </body>
</html>